In [1]:
import numpy as np
import pandas as pd

df_calendar = pd.read_csv('./se-calendar.csv')

In [2]:
df_calendar.head()

   listing_id        date available   price
0      241032  2016-01-04         t  $85.00
1      241032  2016-01-05         t  $85.00
2      241032  2016-01-06         f     NaN
3      241032  2016-01-07         f     NaN
4      241032  2016-01-08         f     NaN